/* Body of the site uses a lightblue color */
body {
    background-color: lightblue;
}

/* Headers styling */
h1 {
    background-color: beige;
}

/* Label Styling */
label {
    font-size: 3rem;
}

/* Styling of form inputs */
input {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 1.5rem;
    font-size: large;
    font-weight: bolder;
}

button {
    margin-top: 1rem;
    width: 12rem;
    height: 2rem;
    font-size: larger;
    font-weight: bolder;
}

/* Gives the table a beige color surrounded by a black border */
table {
    background-color: beige;
    width: 50%;
    border: 3px solid black;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
}

/* Adds a border and aligns text to center within table for better readability */
th,td {
    border: 2px dashed black;
    text-align: center;
}


/* Navbar styling */
.nav {
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
}

/* Styles the home button*/
.home{
    font-size: 3rem;
}

/* Styles the navbar and unordered list */
.nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Styles the links on the navbar */
.nav a {
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: 2rem;
}

/* Colors the background in a lighter color and bolds the text for better visability  */
.nav li:hover {
    background-color: whitesmoke;
    font-weight: bolder;
}

/* Stlyes the message on the home page */
.greeting {
    text-align: center;
    color: black;
    font-size: 3rem;
}

/* Styles the div containing the cat gif */
.gif-container {
    margin: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* Styles the cat gif itself to be larger */
.cats {
    width: 100rem;
}

/* Styles the form component seen on the game page */
.score-form {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    font-weight: bolder;
}

/* Centers the table for a better visual */
.table-div{
    display: flex;
    justify-content: center;
}

/* Centers the meme on the about page */
.meme{
    display: flex;
    justify-content: center;
}