body {
    background-color: lightblue;
}

/* Headers styling */
h1 {
    background-color: beige;
}

/* Label Styling */
label {
    font-size: 3rem;
}

input {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 1.5rem;
    font-size: large;
    font-weight: bolder;
}

button {
    margin-top: 1rem;
    width: 12rem;
    height: 2rem;
    font-size: larger;
    font-weight: bolder;
}

/* Gives the table a beige color surrounded by a black border */
table {
    background-color: beige;
    width: 50%;
    border: 3px solid black;
    font-size: 2rem;
    justify-content: center;
    align-content: center;
}

/* Adds a border and aligns text to center within table for better readability */
th,td {
    border: 2px dashed black;
    text-align: center;
}


/* Navbar styling */
.nav {
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* gap: 2rem; */
    padding: 0 1rem;
}

.site-title {
    font-size: 3rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-size: 2rem;
}

.nav li:hover {
    background-color: whitesmoke;
    font-weight: bolder;
}

.greeting {
    text-align: center;
    color: black;
    font-size: 3rem;
}

.gif-container {
    margin: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cats {
    width: 100rem;
}

.score-form {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    font-weight: bolder;
}

.name-text {
    size: 12rem;
}

.table-div{
    display: flex;
    justify-content: center;
}